@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #000;
	font: 14px;
	font-family: 'Lato', sans-serif;
}

.result {
	width: 150px;
	height: 125px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
